.modalOpen{
  display: flex; /* Hidden by default */
  position: absolute; /* Stay in place */
  justify-content: center;
  align-items: center;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0; 
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalClose{
  display: none !important; /* Hidden by default */
}


.card{
	display: flex;
	flex-direction: column !important;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content{
  background-color: #fefefe;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 0.1px solid #E6E6E6;
  padding: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action{
  background-color: #fefefe;

  border: 0.1px solid #E6E6E6;
	padding: 10px 10px !important;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}


.titleIcon{
  display: flex;
  flex-direction: row;
}

.icon{
  margin-right: 15px;
  margin-left: 10px;
}